project:
  type: website
  resources:
    - "images/twitter-card.png"

execute:
  freeze: true

website:
  title: "蜡笔小周的博客"
  site-url: https://pkuzzq.netlify.app/
  description: "A blog !"
  twitter-card:
    creator: "@Bioconductor"
    image: "/images/twitter-card.png"
  open-graph: true
  navbar:
    right:
      - about.qmd
      - contributing.qmd
      - icon: github
        href: https://github.com/pkuzzq
      - icon: twitter
        href: https://twitter.com/pkuzzq12345
      - icon: rss
        href: index.xml
  
format:
  html:
    theme: yeti
    css: styles.css
    include-in-header:
      text: |
        <script defer data-domain="bioconductor.github.io/biocblog" src="https://plausible.io/js/script.js"></script>
